<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
   <classPathEntry location="/Users/xiushuzhang/.gradle/caches/modules-2/files-2.1/mysql/mysql-connector-java/5.1.38/dbbd7cd309ce167ec8367de4e41c63c2c8593cc5/mysql-connector-java-5.1.38.jar" />

  <context id="DB2Tables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
        connectionURL="jdbc:mysql://localhost:3306/USR"
        userId="xiushuzhang"
        password="qwerty">
    </jdbcConnection>

    <javaTypeResolver >
      <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>

    <javaModelGenerator targetPackage="com.gongkongmall.user.generated.model" targetProject="user-app/src/test/java">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="com.gongkongmall.user.generated.xml"  targetProject="user-app/src/test/java">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="com.gongkongmall.user.generated.mapper"  targetProject="user-app/src/test/java">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

    <table schema="USR" tableName="USER" domainObjectName="User" enableSelectByExample="true" enableDeleteByExample="false" 
    enableCountByExample="false" enableUpdateByExample="false" selectByExampleQueryId="false">
      <property name="useActualColumnNames" value="false"/>
      <generatedKey column="ID" sqlStatement="MySQL" identity="true" />
    </table>

  </context>
</generatorConfiguration>